<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>it.unibo.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>sendGuestbook</servlet-name>
    <servlet-class>it.unibo.server.GuestbookServlet</servlet-class>
  </servlet> 
  
  <servlet>
    <servlet-name>fileUpload</servlet-name>
    <servlet-class>it.unibo.server.FileUpload</servlet-class>
  </servlet> 
      
  <servlet>
    <servlet-name>predict</servlet-name>
    <servlet-class>it.unibo.server.Predict</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>receiverCode</servlet-name>
    <servlet-class>it.unibo.server.ReceiverCode</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>createPredict</servlet-name>
    <servlet-class>it.unibo.server.CreatePredict</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>createPredict</servlet-name>
    <url-pattern>/createPredict</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>receiverCode</servlet-name>
    <url-pattern>/receiverCode</url-pattern>
  </servlet-mapping>
          
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/tutorial_gae_dm/greet</url-pattern>
  </servlet-mapping>
      
  <servlet-mapping>
    <servlet-name>fileUpload</servlet-name>
    <url-pattern>/fileUpload</url-pattern>
  </servlet-mapping>
          
  <servlet-mapping>
    <servlet-name>sendGuestbook</servlet-name>
    <url-pattern>/sendGuestbook</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>predict</servlet-name>
    <url-pattern>/predict</url-pattern>
  </servlet-mapping>  
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Tutorial_gae_dm.html</welcome-file>
  </welcome-file-list>

</web-app>
